rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /imports/{importId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /imports/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
